.tipr_content {
            font: 13px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #333;
            background-color: #fff;
            padding: 5px 10px;
            border-radius: 100px;
            border-left: 3px solid crimson;
            border-right: 3px solid crimson;
        }
        
        .tipr_container_below {
            display: none;
            position: absolute;
            margin-top: 3px;
            z-index: 1000;
        }
        
        .tipr_container_above {
            display: none;
            position: absolute;
            margin-top: -77px;
            z-index: 1000;
        }